<html>
    <head>
        <title>
            Admin Panel
        </title>
    </head>
    <body>
        <center><form action="/admin" method="POST">
            <br>
            <input type="text" placeholder="Enter username" name="admin_name"><br><br>
            <input type="password" placeholder="Enter password" name="admin_pass"><br><br>
            <button type="submit" name="button">Login</button>
        </form></center>
    </body>
</html>