<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>ALERT</title>
</head>

<body>

  <center><h1>ALERT! Disaster nearby, reveal your status.</h1>
  <br><br>
  <form action="/action" method="POST">
  <button type="submit" name="status" value=0>NOT SAFE</button>
  <br><br>
  <button type="submit" name="status" value=1>SAFE</button>
</form>
</center>
</body>

</html>
