<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Status</title>
  <style>
    body {
      background-color: #011F3F;
      color: #fff;
      text-align: center;
    }

    button{
      margin: 90px auto 90px;
    }

    .safeLoc {
      box-shadow: 0px 10px 14px -7px #3e7327;
      background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
      background-color: #77b55a;
      border-radius: 4px;
      border: 1px solid #4b8f29;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 40px;
      font-weight: bold;
      padding: 15px 43px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #5b8a3c;
    }

    .safeLoc:hover {
      background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
      background-color: #72b352;
    }

    .safeLoc:active {
      position: relative;
      top: 1px;
    }

    .medSupport {
      box-shadow: 0px 10px 14px -7px #276873;
      background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
      background-color: #599bb3;
      border-radius: 8px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Arial;
      font-size: 40px;
      font-weight: bold;
      padding: 13px 80px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #3d768a;
    }

    .medSupport:hover {
      background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
      background-color: #408c99;
    }

    .medSupport:active {
      position: relative;
      top: 1px;
    }

    .helpline {
      box-shadow: 0px 1px 0px 0px #fff6af;
      background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
      background-color: #ffec64;
      border-radius: 6px;
      border: 1px solid #ffaa22;
      display: inline-block;
      cursor: pointer;
      color: #333333;
      font-family: Arial;
      font-size: 40px;
      font-weight: bold;
      padding: 15px 170px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #ffee66;
    }

    .helpline:hover {
      background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
      background-color: #ffab23;
    }

    .helpline:active {
      position: relative;
      top: 1px;
    }
  </style>
</head>

<body>
  <button href="#" type="button" class="safeLoc">FIND A SAFE LOCATION</button>
  <br />
  <button href="#" type="button" class="medSupport">MEDICAL SUPPORT</button>
  <br />
  <button href="#" type="button" class="helpline">HELPLINE</button>
</body>

</html>
