<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<center><h1>Helpline Numbers</h1><br>
  <form action="tel:101"><button type="submit">Fire Brigade</button></form><br><br>
  <form action="tel:102"><button type="submit">Ambulance</button></form><br><br>
  <form action="tel:108"><button type="submit">Disaster management</button></form><br><br>
  <form action="tel:112"><button type="submit">National Emergency Number</button></form><br><br>
  <form action="/safe" method="post"><button type="submit">Safe Locations</button></form>

  </body>
</html>
